<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="bankmagerlogin">
		<classes>
			<class name="Testcase.bankmagerlogin" />
		</classes>
				
	</test> <!-- Test -->
	<test thread-count="5" name="Addcustomertest">
		<classes>
			<class name="Testcase.Addcustomertest" />
		</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
